## Imports

In [1]:
import numpy as np
import pandas as pd

## Data

In [2]:
df = pd.read_excel('./datasets/2008SleepinAmericaPollSleepPerformanceandWorkplaceRawDataExcel.xls')

In [3]:
df.head()

,caseid,year,response,intvwr,market,region,tz,state,fips,dma,...,d3,d4a,d4b,d4c,d4d,d4e,d5,d6,d7,d8
0,7,2007,200709,951,ne_1,1,E,NH,33003,500,...,4,2,NaN,NaN,NaN,NaN,3,5,2,4
1,11,2007,200709,650,south_1,3,E,TN,47093,557,...,2,2,NaN,NaN,NaN,NaN,3,4,1,4
2,13,2007,200709,951,mw_1,2,E,OH,39135,542,...,1,1,1.0,2.0,1.0,2.0,3,5,1,6
3,14,2007,200709,969,mw_1,2,E,MI,26069,513,...,1,2,NaN,NaN,NaN,NaN,3,5,1,4
4,15,2007,200709,928,south_1,3,E,SC,45083,567,...,1,1,1.0,1.0,2.0,2.0,5,6,1,6

In [4]:
for i in df.columns:
    print(i)

caseid
year
response
intvwr
market
region
tz
state
fips
dma
division
rep
qs1
qs1a
qs2
qs2a
qs3
d9
q1
Q1VALUE
Q4VALUE
Q1Q4DIF
Q1Q4DIFHRS
insert1
insert2
q2
q3
q4
Q4Q3DIF
Q4Q3DIFHRS
Q4VALUE2
Q3VALUE
Q2VALUE
Q1VALUE2
Q2Q1DIF
Q2Q1DIFHRS
Q3Q2DIF
Q3Q2DIFHRS
q5
q6
Q5VALUE
Q6VALUE
Q5Q6DIF
Q5Q6DIFHRS
Q5Q6Q1Q4DIFHRS
Q5Q6Q1Q4pos
q7h
q7m
q8
q7
Q8Q7DIF
Q8Q7pos
q8h
q8m
q9
q10
q11
q12
q1301
q1302
q1303
q1304
q1305
q1306
q1307
q1308
q1309
q1310
q14h
q14m
q14
insert3
q15
q15a
q16a
q16b
q17a
q17b
q17c
q17d
q17e
q17f
q17g
q17h
q17i
q17j
q17k
q18a
q18b
q18c
q18d
q18e
q19
q20
q20a01
q20a02
q20a03
q20a04
q20a05
q20a06
q20a07
q21
q22
q23
q2401
q2402
q2403
q2404
q2405
q24aa
q24ab
q24ac
q24ad
q25a
q25b
q25c
q25d
q25e
q25f
q26f
q26i
q26
q27
bmi
q28a
q28b
q28c
q28d
q28e
q28f
q28g
MEDCOND
q29
q30a
q30b
q30c
q30d
q30e
q30f
q30g
q30h
ESSQ30A
ESSQ30B
ESSQ30C
ESSQ30D
ESSQ30E
ESSQ30F
ESSQ30G
ESSQ30H
ESSQ30TOT
q31
q32h
q32m
q32
q33a
q33b
q33c
q33d
q33e
q33f
q33g
q33h
q34
q35
q36
q37a
q37b
q37c
q37d
q37e
q37f
q37g
q38
q39a
q39b
q39c
q39d
q39_a
q39_b
q39_c
q39_d
q40
q41
q42a
q42b
q43
q44a
q44b
q44c
q44d
q44e
q44f
q44g
q44h
q45a
q45b
q45c
q45d
q45aa
q45ca
q46
q47
d101
d102
d103
d104
d2
d3
d4a
d4b
d4c
d4d
d4e
d5
d6
d7
d8

In [5]:
df.dtypes

caseid        int64
year          int64
response      int64
intvwr        int64
market       object
             ...
d4e         float64
d5            int64
d6            int64
d7            int64
d8            int64
Length: 217, dtype: object

## Drop and Rename Columns

Each column in the data is labeled based on it's question number from the initial questionnaire. Useful columns pertaining to sleep, work times, income, marital status and age are kept and renamed appropriately.

In [6]:
#Drop unneccessary columns
cols_to_keep = ['q1','q2', 'q3','q4', 'q5', 'q6', 'q7', 'q9',
                'q10', 'qs2', 'qs3', 'q18e', 'q28a', 'q28b', 'q28c', 
                'q28d', 'q28e','q28f', 'q28g', 'd2', 'd3', 'd6', 'd7', 'd8']

df = df[cols_to_keep]

In [7]:
#Rename columns
df.rename(columns = {'q1':'awake_time',
                     'q2':'start_work', 
                     'q3':'end_work',
                     'q4':'bed_time_work_tomorrow', 
                     'q5':'no_work_awake_time', 
                     'q6':'bed_time_no_work_tomorrow', 
                     'q7':'usual_sleep_per_night', 
                     'q9': 'naps_per_month',
                     'q10': 'length_of_average_nap',
                     'qs2': 'employment_status', 
                     'qs3': 'avg_weekly_hours_worked', 
                     'q18e': 'snores',
                     'q28a': 'treated_for_heart_disease', 
                     'q28b':'treated_for_high_blood_pressure', 
                     'q28c': 'treated_for_diabetes', 
                     'q28d':'treated_for_heartburn_GERD',
                     'q28e':'treated_for_arthritis',
                     'q28f': 'treated_for_depression',
                     'q28g': 'treated_for_anxiety',
                     'd2':'age', 
                     'd3':'marital_status',
                     'd6':'highest_edu', 
                     'd7':'single_dual_household', 
                     'd8':'house_hold_income_bracket'}, inplace = True)

## Nulls

There are no nulls except for in 'length_of_average_nap'. After going off the values in the dataset, as well the questionnaire, it appears that these were left blank because the participant does not nap. They are convereted to 0s.

In [8]:
#Check for nulls

df.isnull().sum()

awake_time                           0
start_work                           0
end_work                             0
bed_time_work_tomorrow               0
no_work_awake_time                   0
bed_time_no_work_tomorrow            0
usual_sleep_per_night                0
naps_per_month                       0
length_of_average_nap              461
employment_status                    0
avg_weekly_hours_worked              0
snores                               0
treated_for_heart_disease            0
treated_for_high_blood_pressure      0
treated_for_diabetes                 0
treated_for_heartburn_GERD           0
treated_for_arthritis                0
treated_for_depression               0
treated_for_anxiety                  0
age                                  0
marital_status                       0
highest_edu                          0
single_dual_household                0
house_hold_income_bracket            0
dtype: int64

In [9]:
#Fill null values with 0's

df.fillna(0, inplace= True)
df.isnull().sum().sum()

0

## Time Range Columns

**Map correct values for time ranges**

'awake_time','start_work','end_work','bed_time_work_tomorrow','no_work_awake_time', bed_time_no_work_tomorrow' have numerical values that correspond to time ranges. A dictionary is created to map the correct values over their corresponding integers.

In [10]:
#Map category values over coresponding numbers:

time_dict = {
1 : '12:00 AM', 
2 : '12:01 AM â€“ 4:59 AM',
3 : '5:00 AM â€“ 5:14 AM',
4 : '5:15 AM â€“ 5:29 AM',
5 : '5:30 AM â€“ 5:44 AM',
6 : '5:45 AM â€“ 5:59 AM',
7 : '6:00 AM â€“ 6:14 AM',
8 : '6:15 AM â€“ 6:29 AM',
9 : '6:30 AM â€“ 6:44 AM',
10 : '6:45 AM â€“ 6:59 AM',
11 : '7:00 AM â€“ 7:14 AM',
12 : '7:15 AM â€“ 7:29 AM',
13 : '7:30 AM â€“ 7:44 AM',
14 : '7:45 AM â€“ 7:59 AM',
15 : '8:00 AM â€“ 8:14 AM',
16 : '8:15 AM â€“ 8:29 AM',
17 : '8:30 AM â€“ 8:44 AM',
18 : '8:45 AM â€“ 8:59 AM',
19 : '9:00 AM â€“ 9:14 AM',
20 : '9:15 AM â€“ 9:29 AM',
21 : '9:30 AM â€“ 9:44 AM',
22 : '9:45 AM â€“ 9:59 AM',
23 : '10:00 AM â€“ 10:59 AM',
24 : '11:00 AM â€“ 11:59 AM',
25 : '12:00 PM â€“ 5:59 PM',
26 : '6:00 PM â€“ 11:59 PM',
98 : 'NA',
99 : 'NA',
}


for i in ['awake_time','start_work','end_work',
          'bed_time_work_tomorrow','no_work_awake_time',
          'bed_time_no_work_tomorrow']:
    df[i] = df[i].map(time_dict)

#https://stackoverflow.com/questions/20250771/remap-values-in-pandas-column-with-a-dict

**Time range column non-answers**

For each of these columns, there are a few 98s and 99s (refused/don't know). The mode is used instead.

In [11]:
# Replace non-answers with mode of columns

for i in ['awake_time','start_work','end_work',
          'bed_time_work_tomorrow','no_work_awake_time',
          'bed_time_no_work_tomorrow']:
    df[i] = [df[i].mode()[0] if x == 'NA' else x for x in df[i]]

**Create column of convential awake times**

All awake_time time ranges outside of 5:00AM - 10:30AM are considered unconventional.

In [12]:
df['unconvential_awake_time'] = [0 if x in ['6:00 AM â€“ 6:14 AM',
                                            '5:00 AM â€“ 5:14 AM',
                                            '5:30 AM â€“ 5:44 AM',
                                            '6:30 AM â€“ 6:44 AM',
                                            '7:00 AM â€“ 7:14 AM',
                                            '8:00 AM â€“ 8:14 AM',
                                            '6:15 AM â€“ 6:29 AM',
                                            '7:30 AM â€“ 7:44 AM',
                                            '5:45 AM â€“ 5:59 AM',
                                            '6:45 AM â€“ 6:59 AM',
                                            '5:15 AM â€“ 5:29 AM',
                                            '9:00 AM â€“ 9:14 AM',
                                            '10:00 AM â€“ 10:59 AM',
                                            '8:30 AM â€“ 8:44 AM',
                                            '7:45 AM â€“ 7:59 AM',
                                            '8:15 AM â€“ 8:29 AM',
                                            '8:45 AM â€“ 8:59 AM',
                                            '9:30 AM â€“ 9:44 AM'
                                           ] else 1 for x in df['awake_time']]

## Health Conditions

**Binarize 'treated' columns and select impute strategy**

Health conditions are currently binary 1 & 2 but should be 0 & 1. Non-answers (98s/99s) are given the mode.

In [13]:
#Binarize 'treated_for' columns. Refused or unknown values are given the mode, '0'.

for i in ['treated_for_heart_disease', 'treated_for_high_blood_pressure', 'treated_for_diabetes', 
         'treated_for_heartburn_GERD','treated_for_arthritis', 'treated_for_depression',
          'treated_for_anxiety']:
    df[i] = df[i].apply(lambda x : 1 if x == 1 else 0)

## Other Categorical columns

**Marital**

In [14]:
# Mapping actual values

marital_dict = {
    1: 'Married_partnered',
    2: 'Single',
    3: 'Living with someone',
    4: 'Divorced',
    5: 'Separated', 
    6: 'Widowed',
    98:'N/A'
}

df['marital_status'] = df['marital_status'].map(marital_dict)

**Highest level of education**

In [15]:
# Map actual values

edu_dict = {
    1: '8th grade or <',
    2: 'Some high school',
    3: 'Graduated high school',
    4: 'Vocational/Tech school',
    5: 'Some college',
    6: 'Graduated college',
    7: 'Advanced degree',
    98: 'NA',
    99: 'NA'
}

df['highest_edu'] = df['highest_edu'].map(edu_dict)

**Single/dual household:**

In [16]:
# Map actual values

household_dict = {
    1: 'Dual income ',
    2: 'Single income',
    3: 'Refused',
    98: 'NA',
    99: 'NA'
}

df['single_dual_household'] = df['single_dual_household'].map(household_dict)

**Income**

In [17]:
# Map actual values

income_dict = {
    1: 'Under $15,000',
    2: '$15,000 - $25,000',
    3: '$25,001 - $35,000',
    4: '$35,001 - $50,000',
    5: '$50,001 - $75,000',
    6: 'More than $100,000',
    7: 'NA',
    98: 'NA',
    99: 'NA'
}

df['house_hold_income_bracket'] = df['house_hold_income_bracket'].map(income_dict)

**Using column mode for non-answers**

In [18]:
# Fill 'NA' values with column mode

for i in df.select_dtypes(include = 'O'):
    df[i] = [df[i].mode()[0] if 'NA' in x else x for x in df[i]]

In [19]:
df['house_hold_income_bracket']

0       $35,001 - $50,000
1       $35,001 - $50,000
2      More than $100,000
3       $35,001 - $50,000
4      More than $100,000
              ...
995                    NA
996     $50,001 - $75,000
997     $50,001 - $75,000
998     $35,001 - $50,000
999                    NA
Name: house_hold_income_bracket, Length: 1000, dtype: object

## Other Numerical Columns

Use the mode for non-answers in 'usual_sleep_per_night', 'avg_weekly_hours_worked', and 'age'

In [20]:
# Use mode for 98/99 values

for i in ['usual_sleep_per_night', 'avg_weekly_hours_worked', 'age']:
    df[i] = [0 if x > 97 else x for x in df[i]]
    

for i in ['usual_sleep_per_night', 'avg_weekly_hours_worked', 'age']:
     df[i] = [df[df[i] != 0][i].mean() if x == 0 else x for x in df[i]]

**Naps**

Use the mean for non-answers (998s/999s)

In [21]:
df['length_of_average_nap'] = df['length_of_average_nap'].apply(lambda x: 0 if x == 998 or x == 999 else x)

In [22]:
df['naps_per_month'] = df['naps_per_month'].apply(lambda x: 0 if x > 97 else x)

## Feature Engineering

**poor_sleep**

poor_sleep indicates whether the participant averages at least 7 hours of sleep.

In [23]:
df['poor_sleep'] = [0 if x >= 7 else 1 for x in df['usual_sleep_per_night']]

**has_health_condition**

This column indicates whether the participant has one of the health conditions asked for in the questionnaire.

In [24]:
df['has_condition'] = [0 for x in df['treated_for_anxiety']]
for i in [x for x in df.columns if x[:7] == 'treated']:
    df['has_condition'] += df[i]
df['has_condition'] = [1 if x > 0 else 0 for x in df['has_condition']]
df['has_condition']

0      0
1      0
2      0
3      1
4      0
      ..
995    1
996    0
997    0
998    1
999    0
Name: has_condition, Length: 1000, dtype: int64

**Snores**

Create a column that represents people who snore. The majority answer is 'Do Not Know'. These will be treated as non snorers

In [25]:
df['snores'].value_counts()

99    305
5     258
1     199
2     102
4      73
3      53
98     10
Name: snores, dtype: int64

In [26]:
df['snores'] = [0 if x > 5 else x for x in df['snores']]
df.snores

0      5
1      1
2      1
3      5
4      1
      ..
995    5
996    1
997    5
998    2
999    1
Name: snores, Length: 1000, dtype: int64

In [27]:
df['overworked'] = [1 if x > 40 else 0 for x in df['avg_weekly_hours_worked']]

In [28]:
df['overworked']

0      0
1      0
2      1
3      0
4      0
      ..
995    0
996    1
997    1
998    1
999    1
Name: overworked, Length: 1000, dtype: int64

## Export

**Export EDA dataframe**

In [29]:
df.to_csv('./datasets/sleep_EDA.csv')

**Export modeling dataset with dummied columns**

In [30]:
dums = df.select_dtypes('O')
for i in dums:
    d = pd.get_dummies(df[i],
               prefix = i,
               prefix_sep = '_',
               drop_first = True)
    df = pd.concat([df,d], axis = 1)
df.shape

(1000, 179)

In [31]:
df.to_csv('./datasets/sleep_Modeling.csv')

In [32]:
for i in df.columns:
    print(i)

awake_time
start_work
end_work
bed_time_work_tomorrow
no_work_awake_time
bed_time_no_work_tomorrow
usual_sleep_per_night
naps_per_month
length_of_average_nap
employment_status
avg_weekly_hours_worked
snores
treated_for_heart_disease
treated_for_high_blood_pressure
treated_for_diabetes
treated_for_heartburn_GERD
treated_for_arthritis
treated_for_depression
treated_for_anxiety
age
marital_status
highest_edu
single_dual_household
house_hold_income_bracket
unconvential_awake_time
poor_sleep
has_condition
overworked
awake_time_11:00 AM â€“ 11:59 AM
awake_time_12:00 AM
awake_time_12:00 PM â€“ 5:59 PM
awake_time_12:01 AM â€“ 4:59 AM
awake_time_5:00 AM â€“ 5:14 AM
awake_time_5:15 AM â€“ 5:29 AM
awake_time_5:30 AM â€“ 5:44 AM
awake_time_5:45 AM â€“ 5:59 AM
awake_time_6:00 AM â€“ 6:14 AM
awake_time_6:00 PM â€“ 11:59 PM
awake_time_6:15 AM â€“ 6:29 AM
awake_time_6:30 AM â€“ 6:44 AM
awake_time_6:45 AM â€“ 6:59 AM
awake_time_7:00 AM â€“ 7:14 AM
awake_time_7:15 AM â€“ 7:29 AM
awake_time_7:30 AM â€“ 7:44 AM
awake_time_7:45 AM â€“ 7:59 AM
awake_time_8:00 AM â€“ 8:14 AM
awake_time_8:15 AM â€“ 8:29 AM
awake_time_8:30 AM â€“ 8:44 AM
awake_time_8:45 AM â€“ 8:59 AM
awake_time_9:00 AM â€“ 9:14 AM
awake_time_9:30 AM â€“ 9:44 AM
start_work_11:00 AM â€“ 11:59 AM
start_work_12:00 AM
start_work_12:00 PM â€“ 5:59 PM
start_work_12:01 AM â€“ 4:59 AM
start_work_5:00 AM â€“ 5:14 AM
start_work_5:15 AM â€“ 5:29 AM
start_work_5:30 AM â€“ 5:44 AM
start_work_5:45 AM â€“ 5:59 AM
start_work_6:00 AM â€“ 6:14 AM
start_work_6:00 PM â€“ 11:59 PM
start_work_6:15 AM â€“ 6:29 AM
start_work_6:30 AM â€“ 6:44 AM
start_work_6:45 AM â€“ 6:59 AM
start_work_7:00 AM â€“ 7:14 AM
start_work_7:15 AM â€“ 7:29 AM
start_work_7:30 AM â€“ 7:44 AM
start_work_7:45 AM â€“ 7:59 AM
start_work_8:00 AM â€“ 8:14 AM
start_work_8:15 AM â€“ 8:29 AM
start_work_8:30 AM â€“ 8:44 AM
start_work_8:45 AM â€“ 8:59 AM
start_work_9:00 AM â€“ 9:14 AM
start_work_9:15 AM â€“ 9:29 AM
start_work_9:30 AM â€“ 9:44 AM
start_work_9:45 AM â€“ 9:59 AM
end_work_11:00 AM â€“ 11:59 AM
end_work_12:00 AM
end_work_12:00 PM â€“ 5:59 PM
end_work_5:00 AM â€“ 5:14 AM
end_work_5:15 AM â€“ 5:29 AM
end_work_5:30 AM â€“ 5:44 AM
end_work_6:00 AM â€“ 6:14 AM
end_work_6:15 AM â€“ 6:29 AM
end_work_6:30 AM â€“ 6:44 AM
end_work_6:45 AM â€“ 6:59 AM
end_work_7:00 AM â€“ 7:14 AM
end_work_7:15 AM â€“ 7:29 AM
end_work_7:30 AM â€“ 7:44 AM
end_work_7:45 AM â€“ 7:59 AM
end_work_8:00 AM â€“ 8:14 AM
end_work_8:15 AM â€“ 8:29 AM
end_work_8:30 AM â€“ 8:44 AM
end_work_8:45 AM â€“ 8:59 AM
end_work_9:00 AM â€“ 9:14 AM
end_work_9:15 AM â€“ 9:29 AM
end_work_9:30 AM â€“ 9:44 AM
end_work_9:45 AM â€“ 9:59 AM
bed_time_work_tomorrow_12:01 AM â€“ 4:59 AM
bed_time_work_tomorrow_5:00 AM â€“ 5:14 AM
bed_time_work_tomorrow_5:15 AM â€“ 5:29 AM
bed_time_work_tomorrow_5:30 AM â€“ 5:44 AM
bed_time_work_tomorrow_5:45 AM â€“ 5:59 AM
bed_time_work_tomorrow_6:00 AM â€“ 6:14 AM
bed_time_work_tomorrow_6:15 AM â€“ 6:29 AM
bed_time_work_tomorrow_6:30 AM â€“ 6:44 AM
bed_time_work_tomorrow_6:45 AM â€“ 6:59 AM
bed_time_work_tomorrow_7:00 AM â€“ 7:14 AM
bed_time_work_tomorrow_7:15 AM â€“ 7:29 AM
bed_time_work_tomorrow_7:30 AM â€“ 7:44 AM
bed_time_work_tomorrow_7:45 AM â€“ 7:59 AM
bed_time_work_tomorrow_8:00 AM â€“ 8:14 AM
bed_time_work_tomorrow_8:15 AM â€“ 8:29 AM
bed_time_work_tomorrow_8:30 AM â€“ 8:44 AM
bed_time_work_tomorrow_8:45 AM â€“ 8:59 AM
bed_time_work_tomorrow_9:00 AM â€“ 9:14 AM
bed_time_work_tomorrow_9:15 AM â€“ 9:29 AM
bed_time_work_tomorrow_9:30 AM â€“ 9:44 AM
no_work_awake_time_11:00 AM â€“ 11:59 AM
no_work_awake_time_12:00 AM
no_work_awake_time_12:00 PM â€“ 5:59 PM
no_work_awake_time_12:01 AM â€“ 4:59 AM
no_work_awake_time_5:00 AM â€“ 5:14 AM
no_work_awake_time_5:15 AM â€“ 5:29 AM
no_work_awake_time_5:30 AM â€“ 5:44 AM
no_work_awake_time_5:45 AM â€“ 5:59 AM
no_work_awake_time_6:00 AM â€“ 6:14 AM
no_work_awake_time_6:15 AM â€“ 6:29 AM
no_work_awake_time_6:30 AM â€“ 6:44 AM
no_work_awake_time_6:45 AM â€“ 6:59 AM
no_work_awake_time_7:00 AM â€“ 7:14 AM
no_work_awake_time_7:15 AM â€“ 7:29 AM
no_work_awake_time_7:30 AM â€“ 7:44 AM
no_work_awake_time_7:45 AM â€“ 7:59 AM
no_work_awake_time_8:00 AM â€“ 8:14 AM
no_work_awake_time_8:15 AM â€“ 8:29 AM
no_work_awake_time_8:30 AM â€“ 8:44 AM
no_work_awake_time_8:45 AM â€“ 8:59 AM
no_work_awake_time_9:00 AM â€“ 9:14 AM
no_work_awake_time_9:30 AM â€“ 9:44 AM
no_work_awake_time_9:45 AM â€“ 9:59 AM
bed_time_no_work_tomorrow_12:01 AM â€“ 4:59 AM
bed_time_no_work_tomorrow_5:00 AM â€“ 5:14 AM
bed_time_no_work_tomorrow_5:15 AM â€“ 5:29 AM
bed_time_no_work_tomorrow_5:30 AM â€“ 5:44 AM
bed_time_no_work_tomorrow_6:00 AM â€“ 6:14 AM
bed_time_no_work_tomorrow_6:15 AM â€“ 6:29 AM
bed_time_no_work_tomorrow_6:30 AM â€“ 6:44 AM
bed_time_no_work_tomorrow_6:45 AM â€“ 6:59 AM
bed_time_no_work_tomorrow_7:00 AM â€“ 7:14 AM
bed_time_no_work_tomorrow_7:15 AM â€“ 7:29 AM
bed_time_no_work_tomorrow_7:30 AM â€“ 7:44 AM
bed_time_no_work_tomorrow_7:45 AM â€“ 7:59 AM
bed_time_no_work_tomorrow_8:00 AM â€“ 8:14 AM
bed_time_no_work_tomorrow_8:15 AM â€“ 8:29 AM
bed_time_no_work_tomorrow_8:30 AM â€“ 8:44 AM
bed_time_no_work_tomorrow_8:45 AM â€“ 8:59 AM
bed_time_no_work_tomorrow_9:00 AM â€“ 9:14 AM
bed_time_no_work_tomorrow_9:15 AM â€“ 9:29 AM
bed_time_no_work_tomorrow_9:30 AM â€“ 9:44 AM
marital_status_Living with someone
marital_status_Married_partnered
marital_status_N/A
marital_status_Separated
marital_status_Single
marital_status_Widowed
highest_edu_Advanced degree
highest_edu_Graduated college
highest_edu_Graduated high school
highest_edu_Some college
highest_edu_Some high school
highest_edu_Vocational/Tech school
single_dual_household_Single income
house_hold_income_bracket_$25,001 - $35,000
house_hold_income_bracket_$35,001 - $50,000
house_hold_income_bracket_$50,001 - $75,000
house_hold_income_bracket_More than $100,000
house_hold_income_bracket_NA
house_hold_income_bracket_Under $15,000

In [33]:
df.isnull().sum().sum()

0

In [34]:
df

,awake_time,start_work,end_work,bed_time_work_tomorrow,no_work_awake_time,bed_time_no_work_tomorrow,usual_sleep_per_night,naps_per_month,length_of_average_nap,employment_status,...,highest_edu_Some college,highest_edu_Some high school,highest_edu_Vocational/Tech school,single_dual_household_Single income,"house_hold_income_bracket_$25,001 - $35,000","house_hold_income_bracket_$35,001 - $50,000","house_hold_income_bracket_$50,001 - $75,000","house_hold_income_bracket_More than $100,000",house_hold_income_bracket_NA,"house_hold_income_bracket_Under $15,000"
0,7:00 AM â€“ 7:14 AM,9:00 AM â€“ 9:14 AM,6:45 AM â€“ 6:59 AM,8:45 AM â€“ 8:59 AM,7:00 AM â€“ 7:14 AM,8:30 AM â€“ 8:44 AM,7.000000,0,0.0,1,...,1,0,0,1,0,1,0,0,0,0
1,5:00 AM â€“ 5:14 AM,7:00 AM â€“ 7:14 AM,7:00 AM â€“ 7:14 AM,7:15 AM â€“ 7:29 AM,7:00 AM â€“ 7:14 AM,7:45 AM â€“ 7:59 AM,6.000000,25,15.0,2,...,0,0,1,0,0,1,0,0,0,0
2,12:01 AM â€“ 4:59 AM,5:00 AM â€“ 5:14 AM,7:15 AM â€“ 7:29 AM,7:45 AM â€“ 7:59 AM,7:00 AM â€“ 7:14 AM,7:45 AM â€“ 7:59 AM,5.000000,0,0.0,2,...,1,0,0,0,0,0,0,1,0,0
3,5:45 AM â€“ 5:59 AM,7:00 AM â€“ 7:14 AM,6:30 AM â€“ 6:44 AM,8:45 AM â€“ 8:59 AM,8:00 AM â€“ 8:14 AM,12:00 AM,6.500000,10,60.0,2,...,1,0,0,0,0,1,0,0,0,0
4,12:01 AM â€“ 4:59 AM,8:30 AM â€“ 8:44 AM,7:15 AM â€“ 7:29 AM,8:15 AM â€“ 8:29 AM,5:30 AM â€“ 5:44 AM,8:45 AM â€“ 8:59 AM,6.655158,1,60.0,2,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,6:30 AM â€“ 6:44 AM,8:00 AM â€“ 8:14 AM,6:15 AM â€“ 6:29 AM,12:00 AM,8:00 AM â€“ 8:14 AM,5:00 AM â€“ 5:14 AM,6.000000,4,30.0,2,...,0,0,0,0,0,0,0,0,1,0
996,6:15 AM â€“ 6:29 AM,8:00 AM â€“ 8:14 AM,7:15 AM â€“ 7:29 AM,8:30 AM â€“ 8:44 AM,8:00 AM â€“ 8:14 AM,5:15 AM â€“ 5:29 AM,7.000000,1,10.0,2,...,1,0,0,0,0,0,1,0,0,0
997,12:01 AM â€“ 4:59 AM,6:00 AM â€“ 6:14 AM,7:45 AM â€“ 7:59 AM,6:45 AM â€“ 6:59 AM,7:00 AM â€“ 7:14 AM,7:15 AM â€“ 7:29 AM,6.000000,0,0.0,2,...,0,0,0,1,0,0,1,0,0,0
998,5:30 AM â€“ 5:44 AM,6:30 AM â€“ 6:44 AM,9:45 AM â€“ 9:59 AM,12:00 AM,9:00 AM â€“ 9:14 AM,8:45 AM â€“ 8:59 AM,5.000000,0,0.0,1,...,1,0,0,0,0,1,0,0,0,0
999,6:00 PM â€“ 11:59 PM,6:00 PM â€“ 11:59 PM,7:15 AM â€“ 7:29 AM,6:00 AM â€“ 6:14 AM,7:00 AM â€“ 7:14 AM,5:15 AM â€“ 5:29 AM,5.000000,0,0.0,1,...,1,0,0,0,0,0,0,0,1,0